/*------------------------------------------------------------------*/
/*-------------------->>> 1. CSS General <<<------------------------*/
/*------------------------------------------------------------------*/
.saicl-clearfix:before, .saicl-clearfix:after { content: " "; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0;height: 0;}
.saicl-clearfix:after { clear: both;}
* html .saicl-clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .saicl-clearfix { zoom: 1; } /* IE7 */
.saicl-float-l { float: left;}
.saicl-2-box { width: 48%; margin-right:4%;}
.saicl-3-box { width: 30%; margin-right:5%;}
.saicl-4-box { width: 22%; margin-right:4%;}
.saicl-last { margin-right:0 !important;}
.saicl-first { margin-left:0 !important;}

/*------------------------------------------------------------------*/
/*------>>> 2. Simple Ajax Insert Comments - Admin <<<--------------*/
/*------------------------------------------------------------------*/
#icon-saicl {
	background: url(images/icono_saicl.png) no-repeat;
}

h2#saicl-tabs {
	max-width: 665px !important
}
#saicl-tabs a {
	padding: 4px 10px 6px;
	outline:0 none;
	font-size:18px;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	-khtml-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#saicl-tabs a:hover {
	
}
#saicl-tabs a.nav-tab-active,
#saicl-tabs a.nav-tab-active:hover  {
	border-color: #CCCCCC #CCCCCC #FFFFFF;
}
.saicl-tab-container {
	clear: both;
	max-width: 680px !important;
	padding-top:8px;
}
.saicl-tab_content {
	padding: 20px;
}
.saicl-line-sep { 
	border-bottom: 1px solid #EEE;
}
.saicl-control-group {
	clear:both;
	padding:12px 0 6px;
}
.saicl-control-group:first-child { }
.saicl-control-group.last {		 border-bottom: 0}

.saicl-control-group .saicl-control-label {
	float: left;
	width: 160px;
	text-align: right;
}
.saicl-control-group .saicl-control-label label {
	display:block;
	font-size:12px;
	font-weight:bold;
	color:#515151;
}
.saicl-control-group .saicl-controls {
	margin-left: 180px;
}
.saicl-controls .saicl-radio {
}
.saicl-controls .saicl-radio-v {
	padding-bottom:8px;
}
.saicl-controls .saicl-radio-h {
	margin-right:10px; float:left;
	
}
.saicl-controls label {
	vertical-align:top !important;
}
.saicl-controls label.label-list {
	float: left;
	margin-right:25px;
}
.saicl-descrip-item {
	color: #888;
	font-size:11px;
	display:inline-block;
}
.saicl-control-group p.saicl-descrip-item {
	margin:5px 0;
}
.saicl-control-group span.saicl-descrip-item {
	margin-left:6px;
}
.saicl-controls input[type=text] {
	width: 99.9%;
	padding:5px 10px;
	
}

.saicl-help {
	padding-left:15px;
}
.saicl-help h3 {
	font-size:15px; color:#515151;
}
.saicl-help p {
	padding-left:10px;
}
.saicl-help p.saicl-easy {
	color:#3D9A62; font-size:20px;
}

.saicl-info-free {
	/*display:none;*/
	clear:both;
	margin-top: 10px;
	padding: 2px 10px 3px;
	background-color: #F0F5FB;
	color: #3767A2;
	border: 1px solid #C1DAEC;
	font-size: 11px;
	line-height:15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}
.saicl-info-free2 {
	margin-top: 10px;
	padding: 6px 15px 7px;
	background-color: #F0F5FB;
	color: #444;
	border: 1px solid #C1DAEC;
	font-size: 14px;
	font-weight:bold;
	line-height:15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}